
.modalContainer {
  max-width: 600px;
  height: 130px;
  width: 100%;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  background: rgba(255, 255, 255, 0.56);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.8px);
  -webkit-backdrop-filter: blur(7.8px);
  border: 1px solid rgba(255, 255, 255, 0.34);
}



.closeBtn{
    position: fixed;
    top: -4px;
    right: 26px;
}

.content{
    display:flex ;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 1rem 2;    
}

