.cardContainer{
    width: 260px;
    height: 330px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-content: center;
    place-items: center;
    overflow: hidden;
    background-color: rgba(37, 34, 40, 0.8);
    box-shadow: 15px 15px 30px #bebebe,
             -15px -15px 30px #ffffff;
    border-radius: 20px;
    box-shadow: var(--box_shadow_card);
}

  .card{
    width: 12rem;
    height: auto;
    padding: .8em;
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
   
  }


  .text {
    font-weight: 900;
    font-size: 1.2em;
    line-height: 1.5;
   }
  
  
  .btn{
    background-color: #F08080;
    color: black;
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    width: 4vw;
    height: 3vh;
    cursor: pointer;
  }

  .data{
    display: flex;
    width: 100%;
    justify-content: space-around;
    font-size: 9px;
    margin-top: 5px;

  }

  .hearth {
    width: 21vw;
  }
  
  