.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    background: rgba(255, 255, 255, 0.15);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.7px);
    -webkit-backdrop-filter: blur(6.7px);
    border: 1px solid rgba(255, 255, 255, 0.1);
  }
  
  .content-container {
    text-align: center;
  }
  

.videogamesBackground {
  background-image: url('../../assets/b2e78bc48c6e63f0450945c3578d7ff0.png');
  width: 500px;
  height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
}


.button {
  margin-top: 5px;
  padding: 8px;
  border-radius: 10px;
  border: 0;
  background-color: rgb(70, 21, 99);
  letter-spacing: 1.5px;
  font-size: 15px;
  transition: all .3s ease;
  box-shadow: rgb(45, 31, 78) 0px 10px 0px 0px;
  color: hsl(0, 0%, 100%);
 }

.button:hover {
  box-shadow: rgb(83, 27, 100) 0px 7px 0px 0px;
 }

.button:focus {
  outline: none; 
}

.button:active {
  background-color: rgb(90, 25, 85);
  /*50, 168, 80*/
  box-shadow: rgb(201, 46, 70) 0px 0px 0px 0px;
  transform: translateY(5px);
  transition: 200ms;
 }

  .enter-btn {
    background: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  
  .enter-btn:hover {
    background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
    box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
  }
  
  .title {
    font-size: 4rem;
    text-align: center;
    color: white;
    margin-top: 0;
    text-transform: uppercase;
    font-weight: 900;
  }
  