.container {
    background-color: rgb(61, 29, 77);
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 70px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    margin-top: -10px;
    margin-left: -10px;
    padding-right: 20px;
   
  }
  
  button {
    background-color: #52336e;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #382d4b;
  }
  
  button:focus {
    outline: none;
  }
  